@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto-extra-bold';
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto-light-italic';
    src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Italic.ttf) format("truetype");
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.6;
}

h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    color: #FFFFFF;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

header .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .hero-left {
    width: 100%;
    padding: 8% 0;
    display: flex;
    justify-content: space-between;
}

header .hero-left .content-left {
    width: 49%;
}

header .hero-left img {
    width: 49%;
    height: 225px;
    /* background-size: cover; */
    object-fit: cover;
}

header .hero-left h1 {
    font-size: 48px;
    font-family: 'Roboto-extra-bold';
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 2%;
}

header .hero-left p {
    margin-bottom: 5%;
}

header .hero-left .main-cta {
    color: #FFFFFF;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 4px;
}

.container {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}

nav ul li:hover {
    transform: translateY(-5px);
}

nav ul a {
    color: #ffffff;
}

a {
    text-decoration: none;
}

main .services {
    padding: 2% 0;
}

main .services h2 {
    text-align: center;
    margin-bottom: 3%;
}

main .services .card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin-bottom: 3%;
}

main .services .card-container .card {
    max-width: 150px;
    text-align: center;
    
}

main .services .card-container .card img {
    width: 150px;
    aspect-ratio: 1;
    background-color: aqua;
    border-radius: 10px;
    margin-bottom: 2%;
    object-fit: cover;
}

main .container.quote {
    background-color: #E5E7EB;
    padding: 6% 0;
    position: relative;
    margin-bottom: 6%;
}

main .quote blockquote p {
    font-size: 36px;
    font-family: 'Roboto-light-italic';
    line-height: 1.2;
    color: #1F2937;
}

main .quote blockquote figcaption {
    font-weight: bold;
    position: absolute;
    top: 70%;
    right: 13%;
}

main .cta-container {
    max-width: 700px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6%;
}

main .cta-container .btn-sec {
    color: #FFFFFF;
    padding: 4px 20px;
    border-radius: 6px;
    border: 2px solid #FFFFFF;
}

footer {
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 30px 0;
}

footer h4 {
    min-width: 220px;
}

footer .fa-heart {
    margin: 0 1%;
}

footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}